@{
  ViewBag.Title = "LO30 | Admin | ScoreSheetEntry";
}

<div id="wrapper">
  <hgroup class="title">
    <h1>@ViewBag.Title</h1>
  </hgroup>

  @Html.ActionLink("Process", "Process")
  @Html.ActionLink("ProcessForWeb", "ProcessForWeb")
  @Html.ActionLink("ContextToJson", "ContextToJson")
  @Html.ActionLink("AccessDbToJson", "AccessDbToJson")
  @Html.ActionLink("AccessDbFromJson", "AccessDbFromJson")
  @Html.ActionLink("LoadForWeb", "LoadForWeb") 
</div>
